.ace_gutter {
  z-index: auto !important;
}

.editorContainer {
  width: calc(100vw - 512px);
  height: 494px;
}

.blockEditorContainer {
  min-height: 96px;
}

.editor {
  width: calc(100vw - 560px);
  min-height: 96px;
}

.add-closed {
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}

.add-open {
  transform: rotate(45deg);
  transform-origin: center center;
  transition: transform 0.5s ease-in-out;
}

.ace-github .ace_marker-layer .ace_active-line {
  background: #fff !important;
}

@keyframes opacityUp {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.addBlockButtons .editorButton {
  opacity: 0;
  animation: opacityUp 0.5s 1 ease-in forwards;
}

@for $i from 1 through 9 {
  .addBlockButtons:nth-child(#{$i}) {
    animation-delay: 25mx * $i;
  }
}

.editorButton {
  background-color: $stone-50;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $stone-200;
  }
}

@media (max-width: 1023px) {
  .editorContainer,
  .editor {
    width: 100vw;
  }

  .sketchContainer {
    padding-left: 16px;

    canvas {
      max-width: calc(100vw - 32px);
      max-height: calc(100vw - 32px);
    }
  }
}

@media (max-width: 452px) {
  .sketchContainer {
    padding-left: 0;

    canvas {
      max-width: 100vw;
      max-height: 100vw;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .ace-github .ace_gutter,
  .ace-github .ace_marker-layer .ace_active-line {
    background: $stone-800 !important;
  }

  .ace-github {
    background: $stone-800 !important;
    color: $stone-100 !important;
  }

  .ace-github .ace_cursor {
    color: $stone-200 !important;
  }

  .ace-github .ace_gutter-active-line {
    background-color: rgba(255, 255, 255, 0.07) !important;
  }

  .ace-github .ace_invisible {
    color: red !important;
  }

  .ace-github .ace_print-margin {
    background: $stone-700 !important;
  }

  .ace-github .ace_indent-guide {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAVSURBVHgBAQoA9f8AREA8/wIAAAAADBYBwuMtBDcAAAAASUVORK5CYII=')
      right repeat-y !important;
  }

  .editorButton {
    background-color: $stone-900;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: $stone-700;
    }
  }

  .editorContainer {
    .bx--label,
    .bx--slider__range-label {
      color: $stone-400;
    }

    .bx--slider {
      .bx--slider__thumb:not(:focus),
      .bx--slider__thumb:not(:focus) ~ .bx--slider__filled-track {
        background: $stone-600;
      }
    }

    .bx--text-input {
      background-color: $stone-800;
      color: $stone-50;
    }

    .bx--slider__track:before {
      background: $stone-500;
    }
  }
}
