.mintModalImage {
    height: 500px !important;
    width: 500px !important;
    max-width: calc(100vh - 272px) !important;
    max-height: calc(100vh - 272px) !important;
    min-width: 200px !important;
    min-height: 200px !important;
    margin: 0 !important;
}