a.bx--header__name {
  cursor: pointer;
  transition: background-color 110ms;
  &:hover {
    background-color: #2c2c2c;
  }
}

.bx--side-nav__link {
  cursor: pointer;

  &:focus {
    outline-color: #ffffff00 !important;
  }
}

.walletNav {
  &.bx--header__nav {
    position: absolute;
    right: 0;

    span {
      background-color: #e79e8f;
      background-image: linear-gradient(133deg, #e79e8f, #9495bc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }

    &::before {
      opacity: 0;
    }
  }

  .bx--header__menu-item {
    cursor: pointer;
  }
}

.bx--header__action,
.bx--header__name,
.bx--header__menu-item {
  &:focus {
    border-color: #ffffff00 !important;
  }

  &:focus-visible {
    border-color: white;
    outline-color: white;
  }
}

@media (min-width: 0) {
  .bx--header__nav {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .bx--side-nav__link {
    svg {
      fill: $stone-50;
    }
    .bx--side-nav__link-text {
      color: $stone-50 !important;
    }

    &:hover {
      svg {
        fill: $stone-900;
      }

      .bx--side-nav__link-text {
        color: $stone-900 !important;
      }
    }

    &:focus {
      svg {
        fill: $stone-900;
      }

      .bx--side-nav__link-text {
        color: $stone-900 !important;
      }
    }
  }
}
