@import 'carbon-components/scss/globals/grid/grid';
@import 'carbon-components/scss/components/ui-shell/ui-shell';
@import 'carbon-components/scss/components/button/button';

@tailwind base;
@tailwind components;
@tailwind utilities;

$stone-900: #1c1917;
$stone-800: #292524;
$stone-700: #44403c;
$stone-200: #e7e5e4;
$stone-100: #f5f5f4;
$stone-50: #fafaf9;

@import '../components/shell.scss';
@import '../components/editor.scss';

.text-gradient span {
  background-color: #e79e8f;
  background-image: linear-gradient(133deg, #e79e8f, #9495bc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.tokensBG {
  background-image: url('../assets/tokens.png');
}

.comingSoonBanner {
  width: calc(100vw - 48px);
  height: calc(100vh - 48px);
  background: #262626aa;
  backdrop-filter: blur(10px);
}

.gradientBG {
  background: linear-gradient(133deg, #e79e8f, #9495bc, #9495bc);
}

.gradientBG-2 {
  background: linear-gradient(133deg, #a8a29e, #9495bc, #9495bc);
}

.gradientBG,
.gradientBG-2 {
  background-size: 200% 200%;
  background-position: 0% 0%;
  border: none;
  transition: background-position 0.75s;

  &.loading {
    animation: mintLoading 2s infinite alternate ease-in-out;
  }

  &:hover {
    background-position: 100% 100%;
  }
}

@keyframes mintLoading {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 50% 50%;
  }
}
