@import 'carbon-components/scss/globals/grid/grid';
@import 'carbon-components/scss/components/ui-shell/ui-shell';
@import 'carbon-components/scss/components/button/button';
@import 'carbon-components/scss/components/modal/modal';
@import 'carbon-components/scss/components/text-input/text-input';
@import 'carbon-components/scss/components/number-input/number-input';
@import 'carbon-components/scss/components/pagination/pagination';
@import 'carbon-components/scss/components/skeleton/skeleton';
@import 'carbon-components/scss/components/slider/slider';

@tailwind base;
@tailwind components;
@tailwind utilities;

$stone-900: #1c1917;
$stone-800: #292524;
$stone-700: #44403c;
$stone-600: #57534e;
$stone-500: #78716c;
$stone-400: #a8a29e;
$stone-300: #d6d3d1;
$stone-200: #e7e5e4;
$stone-100: #f5f5f4;
$stone-50: #fafaf9;

@import '../components/shell.scss';
@import '../components/editor.scss';
@import '../components/mintmodal.scss';

.text-gradient span {
  background-color: #e79e8f;
  background-image: linear-gradient(133deg, #e79e8f, #9495bc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.tokensBG {
  background-image: url('../assets/tokens.png');
}

.tokensOverlay {
  background: #262626aa;
  backdrop-filter: blur(10px);
}

.fullWidth {
  width: calc(100vw - 48px);
}

.gradientBG {
  background: linear-gradient(133deg, #e79e8f, #9495bc, #9495bc) !important;
}

.bx--modal-footer .bx--btn--disabled {
  opacity: 80%;
  color: $stone-50;
}

.bx--modal-footer .bx--btn--secondary {
  background-color: rgb(57,57,57);
  &:hover {
    background-color: rgb(76,76,76);
  }
}

.gradientBG-2 {
  background: linear-gradient(133deg, #a8a29e, #9495bc, #9495bc);
}

.gradientBG,
.gradientBG-2 {
  background-size: 200% 200% !important;
  background-position: 0% 0% !important;
  border: none;
  transition: background-position 0.75s;

  &.loading {
    animation: mintLoading 2s infinite alternate ease-in-out;
    transition: background-position 0.75s;
    &:hover {
      color: $stone-50;
    }
  }

  &:hover {
    background-position: 100% 100% !important;
  }
}

.bx--pagination {
  .bx--select-input {
    background-color: $stone-50;
  }

  .bx--select-input, .bx--pagination__button {
      &:focus{
        box-shadow: none;
      }
  }
}

.web3modal-modal-lightbox {
  z-index: 999999999 !important;
}

.bx--number input[type=number] {
  background-color: #f4f4f4 !important;
}

@keyframes mintLoading {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 50% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  .bx--pagination {
    border-color: $stone-700;

    .bx--select-input {
      background-color: $stone-900;
      color: $stone-50
    }

    .bx--select-input, .bx--pagination__button {
      border-color: $stone-700 !important;

      &.bx--btn--disabled {
        &:hover {
          background: $stone-900;
        }
      }

      &:not(.bx--btn--disabled) {
        svg path {
          fill: $stone-200 !important;
        }
      }

      &:hover {
        background: $stone-700;
      }
    }

    svg {
      fill: $stone-200;
    }

    .bx--pagination__text {
      color: $stone-200;
    }
  }

}